<li>
   <%= task.title  %>
   <% unless task.deadline.nil? %>
      , to read: <%= task.deadline.strftime('%D')  %>
   <% end %>
   <a href="<%= task_path(task.id)%>" data-method="DELETE" data-remote="true"> TRASH<i class="fa-solid fa-trash-can"></i></a>

</li>